:root {
  --color-gold: #d5966c;
  --color-almost-black: #151515;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: outfit;
}

h1,
h2,
h3,
.btn {
  font-family: 'big shoulders display';
  font-weight: 900;
  text-transform: uppercase;
}

h1,
p {
  margin: 3.2rem 0;
}

h1 {
  font-size: 6rem;
  line-height: 6rem;
}

h2 {
  font-size: 5rem;
  line-height: 5rem;
  margin: 2rem 0;
}

h3 {
  font-size: 3rem;
}

p {
  color: #444;
  line-height: 3rem;
  margin: 0;
}

p,
ul {
  font-size: 1.8rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 7rem;
    line-height: 9rem;
  }

  h2 {
    line-height: 6rem;
  }

  h3 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 9.6rem;
  }

  h2 {
    font-size: 6rem;
  }
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}

/* Links */
a {
  text-decoration: none;
}

/* Icons */
.icon__list {
  display: flex;
  gap: 2rem;
}

.icon {
  font-size: 3rem;
}

.icon > a {
  color: #fff;
}

/* Buttons */
.btn-container {
  display: inline-block;
}

.btn {
  align-items: center;
  background: var(--color-almost-black);
  border: none;
  color: #fff;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  gap: 2rem;
  letter-spacing: 3px;
  outline: none;
  transition: background 0.3s;
}

.btn--primary {
  padding-left: 2rem;
}

.btn:hover {
  background: var(--color-gold);
}

.btn:hover .btn-icon {
  background: var(--color-almost-black);
}

.btn--secondary {
  padding-right: 2rem;
}

.btn-icon {
  background: var(--color-gold);
  padding: 2rem;
  transition: background 0.3s;
}

/* Hero */
.hero__img {
  width: 100%;
}

.hero__btn {
  margin-top: 4rem;
}

.hero__space-filler {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .hero__text {
    position: relative;
    right: 45px;
  }
}

/* Feature */
.feature {
  margin: 5rem 0;
}

.feature__img-1,
.feature__img-2,
.feature__img-3 {
  width: 100%;
}

.feature__text {
  margin: 2rem 0;
}

.feature__black-block {
  background: var(--color-almost-black);
  color: #fff;
  padding: 3rem;
}

.feature__black-block h2 {
  font-size: 4rem;
}

.feature__black-block p {
  color: #fff;
  font-size: 1.6rem;
}

@media screen and (min-width: 768px) {
  .feature {
    max-width: 747px;
    margin: 10rem auto;
  }

  .feature__grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 1.5fr;
  }

  .feature__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
  }

  .feature__text {
    width: 40%;
  }

  .feature__grid-img-2 {
    grid-row: span 2;
  }

  .feature__black-block {
    grid-column: -2;
  }
}

@media screen and (min-width: 1024px) {
  .feature {
    max-width: 1024px;
  }

  .feature__text {
    width: 30%;
  }
}

/* Footer */
footer {
  background: var(--color-almost-black);
  padding: 3rem 5rem;
  margin-top: 15rem;
}

.footer__text {
  color: #fff;
  margin: 4rem 0;
}

@media screen and (min-width: 768px) {
  footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5rem 0;
  }

  .footer__img {
    object-fit: contain;
  }

  .footer__text {
    width: 50%;
  }
}

/* Location Hero */
.location-hero__btn {
  position: absolute;
  top: 0;
}

.location-hero__img {
  width: 100%;
}

/* Location Main */
.location-main {
  background: var(--color-almost-black);
  padding: 4.8rem 0;
}

.location-main__header,
.location-main__text,
.location-main__list {
  color: #fff;
}

.location-main__header {
  margin: 0;
  margin-bottom: 4.8rem;
}

.location-main__street {
  color: var(--color-gold);
}

.location-main__list {
  margin-bottom: 2rem;
}

.location-main__list li {
  padding: 0.5rem 0;
}

@media screen and (min-width: 768px) {
  .location-main {
    display: flex;
    justify-content: space-around;
  }

  .location-main__header {
    width: 25rem;
  }

  .location-main__text-block {
    width: 40rem;
  }
}

/* Location Footer */
.location-footer {
  background: var(--color-gold);
  margin: 0;
}

.location-footer__text {
  color: var(--color-almost-black);
  margin-top: 4rem;
}

.location-footer__icon > a {
  color: var(--color-almost-black);
}
