:root {
  --color-gold: #d5966c;
  --color-almost-black: #151515;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: outfit;
}

h1,
h2,
h3,
.btn {
  font-family: 'big shoulders display';
  font-weight: 900;
  text-transform: uppercase;
}

h1,
p {
  margin: 3.2rem 0;
}

h1 {
  font-size: 6rem;
  line-height: 6rem;
}

h2 {
  font-size: 5rem;
  line-height: 5rem;
  margin: 2rem 0;
}

h3 {
  font-size: 3rem;
}

p {
  color: #444;
  line-height: 3rem;
  margin: 0;
}

p,
ul {
  font-size: 1.8rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 7rem;
    line-height: 9rem;
  }

  h2 {
    line-height: 6rem;
  }

  h3 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 9.6rem;
  }

  h2 {
    font-size: 6rem;
  }
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}

/* Links */
a {
  text-decoration: none;
}

/* Icons */
.icon__list {
  display: flex;
  gap: 2rem;
}

.icon {
  font-size: 3rem;
}

.icon > a {
  color: #fff;
}

/* Buttons */
.btn-container {
  display: inline-block;
}

.btn {
  align-items: center;
  background: var(--color-almost-black);
  border: none;
  color: #fff;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  gap: 2rem;
  letter-spacing: 3px;
  outline: none;
  transition: background 0.3s;
}

.btn--primary {
  padding-left: 2rem;
}

.btn:hover {
  background: var(--color-gold);
}

.btn:hover .btn-icon {
  background: var(--color-almost-black);
}

.btn--secondary {
  padding-right: 2rem;
}

.btn-icon {
  background: var(--color-gold);
  padding: 2rem;
  transition: background 0.3s;
}
