<section class="footer">
  <img class="footer__img" src="images/logo-light.svg" alt="" />
  <p class="footer__text">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit, tempora in
    labore autem veritatis, nisi cupiditate porro officia error totam unde?
    Distinctio, impedit minima. Ratione.
  </p>
  <ul class="list icon__list">
    <li class="icon">
      <a href="#">
        <i class="fa-brands fa-square-facebook"></i>
      </a>
    </li>
    <li class="icon">
      <a href="#">
        <i class="fa-brands fa-twitter"></i>
      </a>
    </li>
    <li class="icon">
      <a href="#">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </li>
  </ul>
</section>
