<!-- Grid Image 1 -->

<picture>
  <source
    media="(min-width: 1024px)"
    srcset="images/image-grid-1-DT.jpg, images/image-grid-1@2x-DT.jpg"
  />
  <source
    media="(min-width: 768px)"
    srcset="images/image-grid-1-tablet.jpg, images/image-grid-1@2x-tablet.jpg"
  />
  <source
    media="(max-width: 767px)"
    srcset="images/image-grid-1.jpg, images/image-grid-1@2x.jpg"
  />
  <img class="feature__img-1" src="images/image-grid-1.jpg" alt="" />
</picture>

<!-- Grid Image 2 -->

<picture>
  <source
    media="(min-width: 1024px)"
    srcset="images/image-grid-2-DT.jpg, images/image-grid-2@2x-DT.jpg"
  />
  <source
    media="(min-width: 768px)"
    srcset="images/image-grid-2-tablet.jpg, images/image-grid-2@2x-tablet.jpg"
  />
  <source
    media="(max-width: 767px)"
    srcset="images/image-grid-2.jpg, images/image-grid-2@2x.jpg"
  />
  <img class="feature__img-2" src="images/image-grid-2.jpg" alt="" />
</picture>

<!-- Grid Image 3 -->

<picture>
  <source
    media="(min-width: 1024px)"
    srcset="images/image-grid-3-DT.jpg, images/image-grid-3@2x-DT.jpg"
  />
  <source
    media="(min-width: 768px)"
    srcset="images/image-grid-3-tablet.jpg, images/image-grid-3@2x-tablet.jpg"
  />
  <source
    media="(max-width: 767px)"
    srcset="images/image-grid-3.jpg, images/image-grid-3@2x.jpg"
  />
  <img class="feature__img-3" src="images/image-grid-3.jpg" alt="" />
</picture>
