<header>
  <section class="hero">
    <!-- <div class="hero__space-filler"></div> -->
    <picture>
      <source
        media="(min-width: 1024px)"
        srcset="images/image-hero-DT.jpg, images/image-hero@2x-DT.jpg"
      />
      <source
        media="(min-width: 768px)"
        srcset="images/image-hero-tablet.jpg, images/image-hero@2x-tablet.jpg"
      />
      <source
        media="(max-width: 767px)"
        srcset="images/image-hero.jpg, images/image-hero@2x.jpg"
      />
      <img class="hero__img" src="images/image-hero.jpg" alt="" />
    </picture>
    <div class="hero__text">
      <h1>
        Modern <br />
        art gallery
      </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis velit
        laudantium, eaque nesciunt reprehenderit deserunt. Totam laudantium vero
        animi, cupiditate laboriosam recusandae corporis in minus pariatur ad?
        Molestiae, inventore at.
      </p>
      <div class="btn-container hero__btn">
        <a class="btn btn--primary" href="#"
          >our location
          <img class="btn-icon" src="images/icon-arrow-right.svg" alt="" />
        </a>
      </div>
    </div>
  </section>
</header>
