<!-- Facebook -->
<i class="fa-brands fa-square-facebook"></i>

<!-- Twitter -->
<i class="fa-brands fa-twitter"></i>

<!-- Instagram -->
<i class="fa-brands fa-instagram"></i>

<!-- Icon template -->
<ul class="list icon__list">
  <li class="icon">
    <a href="#">
      <i class="fa-brands fa-square-facebook"></i>
    </a>
  </li>
  <li class="icon">
    <a href="#">
      <i class="fa-brands fa-twitter"></i>
    </a>
  </li>
  <li class="icon">
    <a href="#">
      <i class="fa-brands fa-instagram"></i>
    </a>
  </li>
</ul>
